body {
  text-align: center;
}

table {
  border: solid;
  border-width: 1px;
  margin: 0 auto 0 auto;
  border-color: rgb(110, 170, 215);
  background-color: rgb(110, 170, 215);
}

td {
  width: 80px;
  height: 80px;
  border: solid;
  border-radius: 100px;
  border-width: 3px;
  background-color: white;
}

tr.ignoreCSSRow td {
  border: none;
}
